.Blogs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.Blogs li {
  display: inline-block;
  margin: 20px;
}
.Blogs nav a {
  text-decoration: none;
  color: #000;
}
.Blogs nav a:hover,
.Blogs nav a:active {
  color: #fa923f;
}
.Blogs nav a.nav-active {
  color: blue;
}
