.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.InputElement {
  outline : none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
}

.InputElement:focus {
  outline: none;
  background-color: #CCC;
}

.Invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}

.ValidationError {
  color: red;
  margin: 5px 0;
  text-align: left;
} 